@font-face {
    font-family: 'connection_iiregular';
    src: url('fonts/connectionii-webfont.woff2') format('woff2'),
         url('fonts/connectionii-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  body {
    font-family: 'connection_iiregular', sans-serif;
    background-image: url("media/russian-palace-pixelated.png");
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    height: 100vh;
  }
  .form-control {
    box-shadow: none;		
    font-weight: normal;
    font-size: 13px;
  }
  .navbar {
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #dfe3e8;
    border-radius: 0;
  }
  .nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
  }
  .navbar .navbar-brand {
    padding-left: 0;
    font-size: 20px;
    padding-right: 50px;
  }
  .navbar .navbar-brand b {
    color: #33cabb;		
  }
  .navbar .form-inline {
    display: inline-block;
  }
  .navbar a {
    color: #888;
    font-size: 15px;
  }
  .navbar .sign-up-btn {
    min-width: 110px;
    max-height: 36px;
  }
  .navbar .dropdown-menu {
    color: #999;
    font-weight: normal;
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
  }
  .navbar a, .navbar a:active {
    color: #888;
    padding: 8px 20px;
    background: transparent;
    line-height: normal;
  }
  .navbar .navbar-form {
    border: none;
  }
  .navbar .action-form {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
  }
  .navbar .action-form a {		
    color: #33cabb;
    padding: 0 !important;
    font-size: 14px;
  }
  .navbar .action-form .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
  }
  .navbar .btn-primary, .navbar .btn-primary:active {
    color: #fff;
    background: #33cabb !important;
    border: none;
  }	
  .navbar .btn-primary:hover, .navbar .btn-primary:focus {		
    color: #fff;
    background: #31bfb1 !important;
  }
  .navbar .social-btn .btn, .navbar .social-btn .btn:hover {
    color: #fff;
    margin: 0;
    padding: 0 !important;
    font-size: 13px;
    border: none;
    transition: all 0.4s;
    text-align: center;
    line-height: 34px;
    width: 47%;
    text-decoration: none;
  }
  .navbar .social-btn .facebook-btn {
    background: #507cc0;
  }
  .navbar .social-btn .facebook-btn:hover {
    background: #4676bd;
  }
  .navbar .social-btn .twitter-btn {
    background: #64ccf1;
  }
  .navbar .social-btn .twitter-btn:hover {
    background: #4ec7ef;
  }
  .navbar .social-btn .btn i {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
  }
  .or-seperator {
    margin-top: 32px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
  }
  .or-seperator b {
    color: #666;
    padding: 0 8px;
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -15px;
    z-index: 1;
  }
  .navbar .action-buttons .dropdown-toggle::after {
    display: none;
  }
  .form-check-label input {
    position: relative;
    top: 1px;
  }
  @media (min-width: 1200px){
    .form-inline .input-group {
      width: 300px;
      margin-left: 30px;
    }
  }
  @media (max-width: 768px){
    .navbar .dropdown-menu.action-form {
      width: 100%;
      padding: 10px 15px;
      background: transparent;
      border: none;
    }
    .navbar .form-inline {
      display: block;
    }
    .navbar .input-group {
      width: 100%;
    }
  }
  
  #home-info {
	  background-color: rgb(65, 65, 65);
	  padding: 10px 10px 10px 10px;
	  opacity: 0.97;
	  border-style: ridge;
	  border-color: gray;
	  color: white;
  }
  #home-info > h2,p{
	  opacity: 1.0;
  }
  .scores-table{
	  padding: 15px 15px 15px 15px;
  }

  #logout-btn {
    display: none;
  }

  .scores-table{
	  padding: 15px 15px 15px 15px;
	  border-style: outset;
	  border-color: #33cabb;
	  background-color: white;
	  color:#31bfb1;
	  width: 100%;
	  margin-bottom: 30px;
  }
  .scores-table td {
	  border-top-style: ridge;
	  border-top-color:#33cabb;
	  border-top-width: 3px;
  }

  #h2h {
    display: none;
  }